body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(10, 137, 175);
    font-weight: bold;
}

h2 {
    color: rgb(10, 137, 175);
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 1.5rem;
    
}

.vinyl {
    border: 0.1rem dotted rgb(93, 73, 181);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;

}
.vinyl img {
    max-width: 100%;
    height: auto;
    border: 1px solid rgb(93, 73, 181);
    border-radius: 5px;
}
.vinyl h2 {
    color: rgb(10, 137, 175);
}

.pagination {
    display: grid;
    place-items: center; 
    margin: 0;
}
.pagination ul li {
    color: rgb(10, 137, 175);
    font-weight: bold;
    list-style-type: none; 
    text-decoration: none;
    display: inline-block;
    margin: 0.25rem;
}

.active_page {
    color: rgb(10, 137, 175);
    font-weight: bold;
    border: 1px solid rgb(10, 137, 175);
    text-decoration: none;        
}

.active_page:hover {
    color: rgb(93, 73, 181);
}

.menu {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 1rem;
}
.menu a {
    display: block;
    color: rgb(93, 73, 181);
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    border: solid 1px;
    border-radius: 10px;
    margin: 0 0.2rem;
}
.menu a:hover {
    color: rgb(10, 137, 175);
}

.menu a:active {
    color: rgb(10, 137, 175);
}

.vinyl label {
    color: rgb(93, 73, 181);
    font-weight: bold;
}

#error {
    color:rgb(93, 73, 181) !important;
}